<div class="wrapper">
    <section id="masthead">
        <div class="tagline">
            <h1>Fun Work!</h1>
        </div>
    </section>
    <h1 style="text-align: center; letter-spacing: .3em;">Notebook</h1>
    <div class="portfolio-container">
        <div class="portfolio-box">
            <figure class="portfolio-image-container">
                <img class="img-in-box" src="./img/art1.jpg" alt="art number 1">
                <figcaption class="image-name">Neon Disco</figcaption>
            </figure>
        </div>
        <div class="portfolio-box">
            <figure class="portfolio-image-container">
                <img class="img-in-box" src="./img/art2.jpg" alt="art number 2">
                <figcaption class="image-name">Sky is Pink</figcaption>
            </figure>
        </div>
        <div class="portfolio-box">
            <figure class="portfolio-image-container">
                <img class="img-in-box" src="./img/art3.jpg" alt="art number 3">
                <figcaption class="image-name">Hopeful</figcaption>
            </figure>
        </div>
        <div class="portfolio-box">
            <figure class="portfolio-image-container">
                <img class="img-in-box" src="./img/art4.jpg" alt="art number 4">
                <figcaption class="image-name">Raggedon</figcaption>
            </figure>
        </div>
        <div class="portfolio-box">
            <figure class="portfolio-image-container">
                <img class="img-in-box" src="./img/art5.jpg" alt="art number 5">
                <figcaption class="image-name">Somber</figcaption>
            </figure>
        </div>
        <div class="portfolio-box">
            <figure class="portfolio-image-container">
                <img class="img-in-box" src="./img/art6.jpg" alt="art number 6">
                <figcaption class="image-name">Poppers</figcaption>
            </figure>
        </div>
    </div>
</div>